<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body class="body-products-general">
	<!-- Header -->
	<%- include('../partials/header') %>

   <main class="box-products-general-main">
            <div class="letters-main-products">
            <h3>Categorias</h3>
            </div>
              
    </main>  


	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>