<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>Puerto Pc</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <script src="/js/menuMobile.js" defer></script>
        <script src="/js/header.js" defer></script>
        <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    </head>
    <body class="padding-top-fixed body-product-cart">
        <%- include('../partials/header.ejs') %>
            <div class="container-main">
            <main class="container-cart">
                <h2 class="section-title">Mi carrito</h2>
                    <div id="carrito">

                    </div>
                    
                    <% if (locals.session.cart.length > 0) { %>
                      <div class="container-total">
                        <div class="total-price">
                            <span>Total: </span><span class="price-bruto">$353.055</span>
                        </div>
                      </div>
  
                      <div class="button-box button__buy-cart">
                        <button class="button-buy">Finalizar compra</button>
                        <button onclick="emptyCart()" class="button-buy">Vaciar carrito</button>
                      </div> 
                    <% }else { %>
                      <div class="container-cart-empty">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p>El carrito esta vacio</p>
                      </div>
                    <% } %>
            </main>
          </div>
            <%- include('../partials/footer.ejs') %>
            <script src="/js/carrito.js"></script>
            <script src="https://kit.fontawesome.com/2f4ad9ec2a.js" crossorigin="anonymous"></script>
    </body>

</html>