<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body class="product-detail-body">
    <%- include('../partials/header.ejs') %>
    <main class="main-product-detail padding-top-fixed">
        <div class="productAdress">
            <h3>PuertoPc > categoria > producto</h3>
        </div>
        <div class="product">
            <div class="productImages">
                <div class="productImageSelector">
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista2.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista4.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista6webp.webp" alt="">
                    </div>

                </div>
                <div class="productImagePrincipal">
                    <img src="images/AppleMacbookAir/macBookAir.webp" alt="">
                </div>
            </div>
            <div class="boxProductDetails">
            <div class="productDetails">
                
                <section class="details-1">
                    <h1>Apple Macbook Air (13 pulgadas, 2020, Chip M1, 512 GB de SSD, 8 GB de RAM) - Plata</h1>
                    <div class="details-1-row">
                        <h2 id="price">$256.700</h2>
                        <h3>EN STOCK</h3>
                    </div>
                </section>

                <section class="details-2-tablet">
                    <h1>¡HASTA 12 CUOTAS SIN INTERES DE $21.400!</h1>
                    <h3>VER CUOTAS</h3>
                </section>         

                <section class="details-2">
                    <i class="fas fa-credit-card"></i>
                    <h1>¡HASTA 12 CUOTAS SIN INTERES DE $21.400!</h1>
                    <h3>VER CUOTAS</h3>
                </section>

                <section class="details-2">
                    <i class="fas fa-truck"></i>
                    <h1>ENVÍO A TU LOCALIDAD POR $500</h1>
                </section>
                <section class="details-2">
                    <i class="fas fa-user-shield"></i>
                    <h1>GARANTÍA POR 12 MESES</h1>
                </section>
                <section class="details-3">
                    <button class="increment-btn">
                        <h1>- 1 +</h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="/carrito">COMPRAR AHORA</a></h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="/carrito">AGREGAR AL CARRITO</a></h1>
                    </button>
                </section>
                <div class="iconTabletDetail">
                    <section class="details-4">
                        <i class="fas fa-truck"></i>
                        <h1>ENVÍO A TU LOCALIDAD POR $500</h1>
                    </section>
                    <section class="details-4">
                        <i class="fas fa-user-shield"></i>
                        <h1>GARANTÍA POR 12 MESES</h1>
                    </section>
                </div>
            </div>
        </div>
        </div>

        <div class="boxProductDetails" id="boxProductDetails">
            <div class="productDetails-2">
                    <section class="details-4">
                        <h1>ESPECIFICACIONES</h1>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                    </section>
                    <section class="details-5">
                        <h1>DESCRIPCIÓN</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla autem obcaecati unde harum
                            deserunt
                            iste, perferendis illum accusantium saepe quo ad voluptatem voluptate eligendi, fugiat
                            pariatur
                            maiores id! Quisquam doloremque fuga minus non eum, nostrum a beatae mollitia velit itaque,
                            obcaecati repellendus ipsum? Corrupti vero repellat ad culpa quisquam. Hic, asperiores
                            placeat
                            perferendis, voluptates, incidunt earum itaque assumenda facilis error molestias vel nam
                            modi
                            nemo
                            dolorem debitis accusamus repudiandae laudantium? Magni blanditiis inventore ad ipsum
                            exercitationem, architecto non, cumque odit enim rerum quisquam iure voluptatum sapiente
                            quis
                            voluptatem quasi amet facere natus recusandae excepturi libero itaque doloremque commodi
                            corrupti?
                            Corrupti.
                        </p>
                    </section>
                </div>
            </div>
            </div>
    </main>

    <%- include('../partials/footer.ejs') %>

     
</body>

</html>