<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Puerto PC</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <nav class="top">
            <a class="icon-menu">
                <i class="fas fa-bars"></i>
            </a>
            <img src="/images/logo.png" alt="logo-puertopc" class="logo">
            <a class="logo-text" href="/">PuertoPc</a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos">
                <a class="icon-search">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            
            <a class="icon-cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a class="icon-user" href="/login">
                <i class="far fa-user"></i>
            </a>
            <a class="login" href="/login">Iniciar sesión</a>
            <a class="register" href="/register">| Regístrate</a>
        </nav>
        
        <nav class="menu">
            <ul class="item">
                <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
                <li class="item2"><a href="">Categorías <i class="fas fa-angle-down"></i></a></li>
                <li class="item3"><a href="">Ofertas</a></li>
                <li class="item4"><a href="">Armá tu PC</a></li>
                <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
                <li class="item6"><a href="">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

    </header>
    <main class="home">
        <div class="banner">
            <img src="images/banner.webp" alt="banner">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-chevron-down"></i> 
        </div>
        <p>Ofertas</p>
        <div class="container-ofertas">
            <div class="ofertas">
                <img src="images/teclado/teclado.webp" alt="Oferta">
                <h3></h3>
                <h4></h4>
            </div>
            <div class="ofertas">
                <img src="images/Monitor/Monitor.webp" alt="Oferta">
                <h3></h3>
                <h4></h4>
            </div>
            <div class="ofertas">
                <img src="images/mouse/mouse.webp" alt="Oferta">
                <h3></h3>
                <h4></h4>
            </div>
            <div class="ofertas">
                <img src="images/Auriculares/Auri.webp" alt="Oferta">
                <h3></h3>
                <h4></h4>
            </div>
        </div>
        <section class="products">
            <section class="slider"> 
                <a href="detalles" class="card">
                    <div>
                        <img src="images/AppleMacbookAir/macBookAir.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Apple Macbook Air 
                            (13 pulgadas, 2020, Chip M1, 512 GB de SSD, 8 GB de RAM)
                            - Plata
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$256.700</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/NotebookASUS/Notebook_ASUS.jpg" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Notebook ASUS x509 15.6 Celeron N4020 4GB 500GB Win10
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$96.355</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/NotebookHP14/NotebookHP14.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Notebook HP 14-DK1022WM natural silver 14, AMD Ryzen 3 3250U  4GB de RAM 128GB SSD,
                             10 Home
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$98.355</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/NotebookHP14/NotebookHP14.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Notebook HP 14-DK1022WM natural silver 14, AMD Ryzen 3 3250U  4GB de RAM 128GB SSD,
                             10 Home
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$98.355</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-down"></i> 
            </section>

            <section class="slider"> 
                <a href="detalles" class="card">
                    <div>
                        <img src="images/ComputadoraCompletaAmd/CompletaIntel.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Computadora Completa Amd Intel Dual Core 8gb Led 19 Lol
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$142.999</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/PcArmadaGamerAmd/GamerAmd.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Pc Armada amd 9700 16gb Ram Ssd Y Hdd
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$177.780</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/PcArmadaIntelCore/PC_Icore7.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Pc Armada Edicion Intel Core I7 9700 16gb Ram Ssd Y Hdd
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$155.780</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/PcArmadaIntelCore/PC_Icore7.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Pc Armada Edicion Intel Core I7 9700 16gb Ram Ssd Y Hdd
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$155.780</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-down"></i> 
            </section>

            <section class="slider"> 
                <a href="detalles" class="card">
                    <div>
                        <img src="images/SillaSillónGamerPlay/SillonGamer.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Silla Sillón Gamer Playstation Xbox Pc Oficina - Good Game
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$55.999</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/SillónSillaGamerPro/SillaPro.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Sillón Silla Gamer  Pro Playstation Xbox Pc Oficina
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$60.399</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/SillónSillaPremium/SillaPremium.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Sillón Silla Premium Gamer Gaming Pro Reclinable Pc Oficina
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$60.399</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <a href="detalles" class="card">
                    <div>
                        <img src="images/SillónSillaPremium/SillaPremium.webp" alt="Producto">
                    </div>
                    <div class="card-description">
                        <h3>
                            Sillón Silla Premium Gamer Gaming Pro Reclinable Pc Oficina
                        </h3>
                    </div>    
                    <div class="card-description-cond">   
                        <p>$60.399</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-container">
                        <button>agregar al carrito</button>
                    </div>
                </a>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-down"></i> 
            </section>
        </section>       
    </main>


    <footer  >
          <div class="footer-all">
                     <div class="payment-footer">
                          <h3>Forma de Pago</h3>
                          <div class="icon-footer1">
                          <a href="#">
                             <i class="fab fa-cc-visa"></i>
                          </a>
                          <a href="#">
                             <i class="fab fa-cc-mastercard"></i>
                          </a>
                          <a href="#">
                             <i class="fab fa-cc-amex"></i>
                          </a>
                          <a href="#">
                             <i class="fab fa-bitcoin"></i>
                          </a>
                          <a href="#">
                             <i class="fab fa-paypal"></i>
                          </a>
                          </div>
                       </div>
            
                      <div class="info-footer">
                              <h3>Acerca de PuertoPC</h3>
                           <div class="text-footer1">
                               <a href="#">
                                 <i class="fas fa-map-marked"></i>
                               Sucursales
                               </a>
                               <a class="subtext-footer" href="#">
                               ¿Quienes somos?
                               </a>
                           </div>                  
                       </div>
            
                       <div class="contact-footer">
                            <h3>Contáctenos</h3>
                            <div class="icon-footer2">
                            <a href="#">
                              <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                              <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                              <i class="fab fa-whatsapp"></i>
                            </a>
                            </div> 
                              <a class="text-footer2" href="#">
                                    <i class="far fa-envelope" id="icon-email-footer"></i>
                                         puertopc@gmail.com
                               </a>  
                           
                       </div>
         </div>                 
                  <div>    
                           <p id="copyright-footer"> 
                            2022 ©️ Todos los derechos reservados
                           </p>
                   </div>        
                 
    
    </footer>

</body>
</html>