<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Puerto PC</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <i class="fas fa-bars"></i>
        <img src="/public/images/logo.png" alt="logo-puertopc" class="logo">
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas, mas...">
        </div>
        <button>
            <i class="fas fa-search"></i>
        </button>
    </header>
    <main class="home">
        <section class="products">
            <section class="slider"> 
                <article class="product1">
                    <div>
                        <img src="images/AppleMacbookAir/macBookAir.webp" alt="macBookAir">
                    </div>
                    <div class="description">
                        <h3>
                            Apple Macbook Air 
                            (13 pulgadas, 2020, Chip M1, 512 GB de SSD, 8 GB de RAM)
                            - Plata
                        </h3>
                        <p>$256.700</p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                        <button>agregar al carrito</button>
                    </div>    
                    <div class="button-slider">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-down"></i> 
                    </div>      
                </article>
            </section>
        </section>       
    </main>
</body>
</html>