<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <i class="fas fa-bars"></i>
        <img src="/public/images/logo.png" alt="logo-puertopc" class="logo">
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas, mas...">
        </div>
        <button>
            <i class="fas fa-search"></i>
        </button>
    </header>
    <main>
        <main>
            <article>
                <img src="l" alt="">
            </article>
        </main>
    </main>
    <h1>Hola mundo</h1>
</body>
</html>