<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>Puerto PC</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="body-product-cart">
    <header class="header">
        <nav class="top">
            <a class="icon-menu">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="logo"><img src="/images/logo.png" alt="logo-puertopc"></a>
            <a class="logo-text" href="/">PuertoPc</a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos">
                <a class="icon-search">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <a class="icon-cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a class="icon-user" href="/login">
                <i class="far fa-user"></i>
            </a>
            <a class="login" href="/login">Iniciar sesión</a>
            <a class="register" href="/register">| Regístrate</a>
        </nav>

        <nav class="menu">
            <ul class="item">
                <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
                <li class="item2"><a href="">Categorías <i class="fas fa-angle-down"></i></a></li>
                <li class="item3"><a href="">Ofertas</a></li>
                <li class="item4"><a href="">Armá tu PC</a></li>
                <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
                <li class="item6"><a href="/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

    </header>
    
    <main class="container-cart">
        <h2 class="section-title">Mi carrito</h2>
        <div class="card-cart">
                <div class="image-container-ext">
                    <div class="image-container">
                        <img class="image-cart" src="images/NotebookASUS/Notebook_ASUS.jpg">
                    </div>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3> Notebook ASUS x509 15.6 Celeron N4020 4GB 500GB Win10 </h3>
                    </div>
                    <div class="container-increment">
                        <p>Cantidad: </p>
                        <button class="increment-btn">
                            <span>-</span><span>1</span><span>+</span>
                        </button>
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$96.355</p>
                    </div>
                </div>
            </div>
            
            <div class="total-price ">
                <span>Total: </span><span class="price-bruto">$353.055</span>
            </div>
           
           
            <div class="button-box">
                <button class="button-buy">Finalizar compra</button>
                <button class="button-buy">cancelar compra</button>
            </div>
        </main>

            <footer>
                <div class="footer-all">
                           <div class="payment-footer">
                                <h3>Forma de Pago</h3>
                                <div class="icon-footer1">
                                <a href="#">
                                   <i class="fab fa-cc-visa"></i>
                                </a>
                                <a href="#">
                                   <i class="fab fa-cc-mastercard"></i>
                                </a>
                                <a href="#">
                                   <i class="fab fa-cc-amex"></i>
                                </a>
                                <a href="#">
                                   <i class="fab fa-bitcoin"></i>
                                </a>
                                <a href="#">
                                   <i class="fab fa-paypal"></i>
                                </a>
                                </div>
                             </div>
                  
                            <div class="info-footer">
                                    <h3>Acerca de PuertoPC</h3>
                                 <div class="text-footer1">
                                     <a href="#">
                                       <i class="fas fa-map-marked"></i>
                                     Sucursales
                                     </a>
                                     <a class="subtext-footer" href="#">
                                     ¿Quienes somos?
                                     </a>
                                 </div>                  
                             </div>
                  
                             <div class="contact-footer">
                                  <h3>Contáctenos</h3>
                                  <div class="icon-footer2">
                                  <a href="#">
                                    <i class="fab fa-instagram"></i>
                                  </a>
                                  <a href="#">
                                    <i class="fab fa-facebook"></i>
                                  </a>
                                  <a href="#">
                                    <i class="fab fa-twitter"></i>
                                  </a>
                                  <a href="#">
                                    <i class="fab fa-whatsapp"></i>
                                  </a>
                                  </div> 
                                    <a class="text-footer2" href="#">
                                          <i class="far fa-envelope" id="icon-email-footer"></i>
                                               puertopc@gmail.com
                                     </a>  
                                 
                             </div>
               </div>                 
                        <div>    
                                 <p id="copyright-footer"> 
                                  2022 ©️ Todos los derechos reservados
                                 </p>
                         </div>        
                       
          
          </footer>
</body>

</html>
