<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel=”stylesheet” type=”text/css” href=”css/style.css”>
        <title>Puerto PC</title>
</head>

<body>
    <header class="header">
        <nav class="top">
            <a class="icon-menu">
                <i class="fas fa-bars"></i>
            </a>
            <img src="/Public/img/logo.png" alt="logo-puertopc" class="logo">
            <h1>PuertoPc</h1>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos">
                <a class="icon-search">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <a class="icon-cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a class="icon-user" href="/login">
                <i class="far fa-user"></i>
            </a>
            <a class="login" href="/login">Iniciar sesión</a>
            <a class="register" href="/register">| Regístrate</a>
        </nav>

        <nav class="menu">
            <ul class="item">
                <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
                <li class="item2"><a href="">Categorías <i class="fas fa-angle-down"></i></a></li>
                <li class="item3"><a href="">Ofertas</a></li>
                <li class="item4"><a href="">Armá tu PC</a></li>
                <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
                <li class="item6"><a href="">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

    </header>
    <section>
        <section class="slider">
            <a href="detalles" class="card">
                <div>
                    <img src="images/ComputadoraCompletaAmd/CompletaIntel.webp" alt="Producto">
                </div>
                <div class="card-description">
                    <h3>
                        Computadora Completa Amd Intel Dual Core 8gb Led 19 Lol
                    </h3>
                </div>
                <div class="card-description-cond">
                    <p>$142.999</p>
                    <p>Envío gratis</p>
                    <p>18 cuotas sin interés</p>
                </div>
                <div class="button-container">
                    <button>agregar al carrito</button>
                    <button>quitar al carrito</button>
                </div>
            </a>
            <a href="detalles" class="card">
                <div>
                    <img src="images/PcArmadaGamerAmd/GamerAmd.webp" alt="Producto">
                </div>
                <div class="card-description">
                    <h3>
                        Pc Armada amd 9700 16gb Ram Ssd Y Hdd
                    </h3>
                </div>
                <div class="card-description-cond">
                    <p>$177.780</p>
                    <p>Envío gratis</p>
                    <p>18 cuotas sin interés</p>
                </div>
                <div class="button-container">
                    <button>agregar al carrito</button>
                    <button>quitar al carrito</button>
                </div>
            </a>
            <a href="detalles" class="card">
                <div>
                    <img src="images/PcArmadaIntelCore/PC_Icore7.webp" alt="Producto">
                </div>
                <div class="card-description">
                    <h3>
                        Pc Armada Edicion Intel Core I7 9700 16gb Ram Ssd Y Hdd
                    </h3>
                </div>
                <div class="card-description-cond">
                    <p>$155.780</p>
                    <p>Envío gratis</p>
                    <p>18 cuotas sin interés</p>
                </div>
                <div class="button-container">
                    <button>agregar al carrito</button>
                    <button>quitar al carrito</button>
                </div>
            </a>
            <a href="detalles" class="card">
                <div>
                    <img src="images/PcArmadaIntelCore/PC_Icore7.webp" alt="Producto">
                </div>
                <div class="card-description">
                    <h3>
                        Pc Armada Edicion Intel Core I7 9700 16gb Ram Ssd Y Hdd
                    </h3>
                </div>
                <div class="card-description-cond">
                    <p>$155.780</p>
                    <p>Envío gratis</p>
                    <p>18 cuotas sin interés</p>
                </div>
                <div class="button-container">
                    <button>agregar al carrito</button>
                    <button>quitar al carrito</button>
                </div>
            </a>
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-chevron-down"></i>
        </section>
    </section>
    <footer class="footer-all">
        <article class="container-footer-all">

            <div class="container-body">

                <div class="box-footer">

                    <div class="payment-footer">
                        <h3>Forma de Pago</h3>
                        <div class="icon-footer1">
                            <a href="#">
                                <i class="fab fa-cc-visa"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-cc-mastercard"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-cc-amex"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-bitcoin"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-paypal"></i>
                            </a>
                        </div>
                    </div>

                    <div class="info-footer">
                        <h3>Acerca de PuertoPC</h3>
                        <div class="text-footer1">
                            <a href="#">
                                <i class="fas fa-map-marked"></i>
                                Sucursales
                            </a>
                            <a class="subtext-footer" href="#">
                                ¿Quienes somos?
                            </a>
                        </div>
                    </div>

                    <div class="contact-footer">
                        <h3>Contáctenos</h3>
                        <div class="icon-footer2">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="icon-email">
                        <a class="text-footer2" href="#">
                            <i class="far fa-envelope"></i>
                            <div class="subtext-footer">
                                puertopc@gmail.com
                            </div>
                        </a>
                    </div>

                    <div class="container-footer">
                        <a class="copyright-footer">
                            2022 ©️ Todos los derechos reservados
                        </a>

                    </div>
                </div>

            </div>

        </article>


    </footer>
</body>

</html>