<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="product-detail-body">
    <header class="header">
        <nav class="top">
            <a class="icon-menu">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="logo"><img src="/images/logo.png" alt="logo-puertopc"></a>
            <a class="logo-text" href="/">PuertoPc</a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos">
                <a class="icon-search">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            
            <a class="icon-cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a class="icon-user" href="/login">
                <i class="far fa-user"></i>
            </a>
            <a class="login" href="/login">Iniciar sesión</a>
            <a class="register" href="/register">| Regístrate</a>
        </nav>
        
        <nav class="menu">
            <ul class="item">
                <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
                <li class="item2"><a href="">Categorías <i class="fas fa-angle-down"></i></a></li>
                <li class="item3"><a href="">Ofertas</a></li>
                <li class="item4"><a href="">Armá tu PC</a></li>
                <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
                <li class="item6"><a href="">Carrito <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

    </header>
    <main class="main-product-detail">
        <div class="productAdress">
            <h3>PuertoPc > categoria > producto</h3>
        </div>
        <div class="product">
            <div class="productImages">
                <div class="productImageSelector">
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista2.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista4.webp" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="images/AppleMacbookAir/macBook_vista6webp.webp" alt="">
                    </div>

                </div>
                <div class="productImagePrincipal">
                    <img src="images/AppleMacbookAir/macBookAir.webp" alt="">
                </div>
            </div>
            <div class="productDetails">
                <section class="details-1">
                    <h1>Apple Macbook Air (13 pulgadas, 2020, Chip M1, 512 GB de SSD, 8 GB de RAM) - Plata</h1>
                    <div class="details-1-row">
                        <h2 id="price">$256.700</h2>
                        <h3>EN STOCK</h3>
                    </div>
                </section>
                <section class="details-2">
                    <i class="fas fa-credit-card"></i>
                    <h1>¡HASTA 12 CUOTAS SIN INTERES DE $21.400!</h1>
                    <h3>VER CUOTAS</h3>
                </section>
                <section class="details-2">
                    <i class="fas fa-truck"></i>
                    <h1>ENVÍO A TU LOCALIDAD POR $500</h1>
                </section>
                <section class="details-2">
                    <i class="fas fa-user-shield"></i>
                    <h1>GARANTÍA POR 12 MESES</h1>
                </section>
                <section class="details-3">
                    <button class="increment-btn">
                        <h1>- 1 +</h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="">COMPRAR AHORA</a></h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="">AGREGAR AL CARRITO</a></h1>
                    </button>
                </section>
            </div>
        </div>
            <div class="productDetails-2">
                    <section class="details-4">
                        <h1>ESPECIFICACIONES</h1>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                            <div>
                                <h2>CATEGORIA</h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                    </section>
                    <section class="details-5">
                        <h1>DESCRIPCIÓN</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla autem obcaecati unde harum
                            deserunt
                            iste, perferendis illum accusantium saepe quo ad voluptatem voluptate eligendi, fugiat
                            pariatur
                            maiores id! Quisquam doloremque fuga minus non eum, nostrum a beatae mollitia velit itaque,
                            obcaecati repellendus ipsum? Corrupti vero repellat ad culpa quisquam. Hic, asperiores
                            placeat
                            perferendis, voluptates, incidunt earum itaque assumenda facilis error molestias vel nam
                            modi
                            nemo
                            dolorem debitis accusamus repudiandae laudantium? Magni blanditiis inventore ad ipsum
                            exercitationem, architecto non, cumque odit enim rerum quisquam iure voluptatum sapiente
                            quis
                            voluptatem quasi amet facere natus recusandae excepturi libero itaque doloremque commodi
                            corrupti?
                            Corrupti.
                        </p>
                    </section>
            </div>
    </main>
    <footer class="footer-all">

        <div class="payment-footer">
            <h3>Forma de Pago</h3>
            <div class="icon-footer1">
                <a href="#">
                    <i class="fab fa-cc-visa"></i>
                </a>
                <a href="#">
                    <i class="fab fa-cc-mastercard"></i>
                </a>
                <a href="#">
                    <i class="fab fa-cc-amex"></i>
                </a>
                <a href="#">
                    <i class="fab fa-bitcoin"></i>
                </a>
                <a href="#">
                    <i class="fab fa-paypal"></i>
                </a>
            </div>
        </div>

        <div class="info-footer">
            <h3>Acerca de PuertoPC</h3>
            <div class="text-footer1">
                <a href="#">
                    <i class="fas fa-map-marked"></i>
                    Sucursales
                </a>
                <a class="subtext-footer" href="#">
                    ¿Quienes somos?
                </a>
            </div>
        </div>

        <div class="contact-footer">
            <h3>Contáctenos</h3>
            <div class="icon-footer2">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
            <a class="text-footer2" href="#">
                <i class="far fa-envelope" id="icon-email-footer"></i>
                puertopc@gmail.com
            </a>
            <p class="copyright-footer">
                2022 ©️ Todos los derechos reservados
            </p>
        </div>
        </div>
    </footer>
</body>

</html>