<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header class="header-register">
    <h2>PuertoPC</h2>

</header>
<body>
         <div>
             <img src="/images/logo.png" alt="logo">
         </div>
         <div>
             <h2>Registro de Usuario</h2>
              <div class="container-inputs-register">
                  <input type="text" name="nombre" placeholder="Ingresa tu nombre.." required>
                  <input type="text" name="apellido" placeholder="Ingresa tu apellido.." required>
                  <input type="email" name="email" placeholder="Ingresa tu correo.." required>
                  <input type="password" name="pass" placeholder="Ingresa una contraseña.." required>
                  <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                  <input type="checkbox">
                  <input type="submit" value="Ingresar" required>
                  <p>¿Ya tienes una cuenta? <a href="">Ingresa aquí</a></p>
                  <p>o registrarse con</p>
                  <a href=""><img src="" alt="facebook"></a>
                  <a href=""><img src="" alt="google"></a>   
              </div>
           </div>  
</body>
<footer>

</footer>
</html>