.home {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.home .products .product1{
    width: 30rem;
    height: 47.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home .products .slider .product1 div {
    border-bottom: .1rem solid var(--greyLight);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .products .slider .product1 div img {
    width: 90%;
    object-fit: contain;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.home .products .slider .product1 p {
    font-family: var(--fontText);
    width: 70%;
    text-align: center;
    margin-top: 1rem;
}

/* .home .products .slider .product1 .button-slider {
    position: relative;
} */

i.fa-chevron-down {
    font-size: 5rem;
    color: var(--greyLight);
}

i.fa-chevron-down:nth-child(1) {
    position: absolute;
    left: -5.5rem;
    transform: rotate(90deg);
}

i.fa-chevron-down:nth-child(2) {
    position: absolute;
    right: -5.5rem;
    transform: rotate(270deg);
}



