
.home {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5.3rem
}
/* Banner */
.home .banner{
    display: none; 
    width: 100%;
    height: 100%;
    padding: 0px;
}

/* Ofertas */
.container-ofertas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.ofertas {
    width: 25rem;
    height: 30.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: .9rem;
    background-color: white;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.ofertas div:nth-child(1){
    display: flex;
    justify-content: center;
    height: 16.5rem;
    border-bottom: .1rem solid var(--greyLight);
}

.ofertas div img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-description h3 {
    font-family: var(--fontText);
    font-size: 1.4rem;
    width: 90%;
    margin: .6rem auto ;
    text-align: center;
}

.card-description-cond {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0;
    position: relative;
    line-height: 2.2rem;
}

.card-description-cond p:nth-child(1){
    font-size: 1.6rem;
    font-family: var(--fontText);
}

.card-description-cond p span {
    text-decoration: line-through;
}


/* Product Cards */
.home .products {
    width: 100%;
}

.home .products .slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 2rem;
}

.home .products .slider:nth-child(1) {
    margin-top: 5rem;
}

.home a,
.home a:visited {
    color: black;
}

.home .products .slider .card {
    width: 25rem;
    height: 35.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: .9rem;
    background-color: white;
    transition: all 0.3s ease;
}

.home .products .slider .card:hover {
    transform: scale(1.02);
}

.home .products .slider .card div img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.home .products .slider .card:nth-child(2),
.home .products .slider .card:nth-child(3),
.home .products .slider .card:nth-child(4) {
    display: none;
}

.home .products .slider .card div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid .1rem var(--greyLight);
    height: 16.2rem;
}


/* card */

.card-description-cond p:nth-child(2),
.card-description-cond p:nth-child(3){
    font-size: 1.5rem;
    color: var(--green);
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
}

.card button{
    border: none;
    font-size: 2rem;
    font-family: var(--fontBebas);
    color: white;
    background-color: var(--darkBlue);
    border-radius: .2rem;
    padding: .3rem .5rem;
    margin-top: .3rem;
    box-shadow: .3rem .3rem .2rem rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0.8rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card button:hover{
    background-color: #486297;
}


i.fa-chevron-down {
    font-size: 3rem;
    color: var(--greyLight);
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
    transition: all 0.1s ease-in;
}

i.fa-chevron-down:hover {
    background-color: var(--grey);
}

i.fa-chevron-down:nth-child(5) {
    position: absolute;
    transform: rotate(90deg);
    left: -0.2rem;
}

i.fa-chevron-down:nth-child(6) {
    position: absolute;
    transform: rotate(270deg);
    right: -0.2rem;
}

/* Media queries */
/* Primer quiebre */
@media (min-width: 550px) {
    .home .products .slider .card:nth-child(2) {
        display: inline-block;
    }
}

/* segundo quiebre */
@media (min-width: 810px) {
    .home .products .slider .card:nth-child(3) {
        display: inline-block;
    }
}


/* Tercer quiebre */
@media (min-width: 1070px) {
    .home .products .slider .card:nth-child(4) {
        display: inline-block;
    }
}

/* Desktop */
@media (min-width: 760px) {
    .home {
        padding-top: 10.6rem
    }
    .home .banner{
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .home .banner img {
        width: 100%;
        height: 30rem;
        object-fit: fill;
    }

    .home .banner i:nth-child(2){
        position: absolute;
        right: 0.7rem;
        top: 12rem;
        transform: rotate(270deg);
    }
    
    .home .banner i:nth-child(3){
        position: absolute;
        left: 0.7rem;
        bottom: 12rem;
        transform: rotate(90deg);
    }

}