
.container-cart{
    background-color: white;
    width:fit-content;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    padding: 2rem;    
}

.price{
    text-align: right;
    font-family: var(--fontText);
    font-size: 2rem;
    
}
.section-title{
    font-family: var(--fontText);
    text-align: left;
    font-size: 2rem;
}

/* Tablet */
@media (min-width: 480px) {
    header  .top .search-bar {
        flex-grow: 0.4;
    }
    header .menu {
        display: none;
    }
    .header .top .logo-text{
        display: none
    }

}

/* Desktoop */
@media (min-width: 760px) {
    header {
        height: 10.6rem;
        display: flex;
        flex-direction: column;
    }
    

    header .top {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
  
    header .top .logo{
        order: 1;
        height: 6rem;
        padding: 0rem;
        margin-left: 1.8rem;
    }
    header .top .logo-text{
        order: 2;
        display: flex;
        color: white;
        align-items: end;
        margin-bottom: 0.3rem;
        font-size: 2.5rem;

    }
    header .top .search-bar {
        order: 3;
    }
    header .top .search-bar input{
        height: 3.9rem;
    }
    header .top .search-bar .icon-search {
        font-size: 1.8rem;

    }

    header .top .icon-cart {
        display: none;
    
    }
    
    header  .top .icon-user {
        order: 4;
        font-size: 1.8rem;
        margin: 0.5rem;
        display: flex;
        align-items: center;
    }
    header .top .login {
        order: 5;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 0.1rem;

    }

    header .top .register {
        order: 6;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 2rem 0 0.45rem;
        font-size: 1.2rem;

    }
    header .menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    header .menu .item{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.5rem;
    }
    header .menu .item .item1{
        order: 1;
        margin-left: 3rem;
        margin-right: 10rem;


    }
    header .menu .item .item2{
        order: 2;
        margin: 0 0.5rem;
    }
    header .menu .item .item3{
        order: 3;
        margin: 0 0.5rem;

    }
    header .menu .item .item4{
        order: 4;
        margin: 0 0.5rem;

    }
    header .menu .item .item5{
        order: 5;
        margin: 0 0.5rem;

    }
    header .menu .item .item6{
        order: 7;
        margin-right: 3rem;
        margin-left: 10rem;
    }

    header .menu ul li a{
        list-style: none;
        color: white;
    }
    
}


.cart-description {
    text-align: center;
    line-height: 30px;
}

.cart-description h3{
    font-size: 2rem;
    font-family: var(--fontText);
    padding-left: 80rem;
}
.cart-description {
font-size: 20px;
text-align: right;
font-family: var(--fontText);
}

.button-cart {
    margin-top: 0.7rem;
    font-size:large;
    font-family: var(--fontBebas);
    border-radius: 50%;
    padding: 0.7rem;
    letter-spacing: 1rem;
    color: white;
    background-color: #cd0800;
}

 #copyright-footer{
     text-align: center;
 }
