.container-cart{
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    padding: 2rem;    
}

.price{
    text-align: right;
    font-family: var(--fontText);
    font-size: 2rem;
    
}
.section-title{
    font-family: var(--fontText);
    text-align: left;
    font-size: 2rem;
}

.cart-description {
    text-align: center;
    line-height: 30px;
}

.cart-description h3{
    font-size: 2rem;
    font-family: var(--fontText);
    padding-left: 80rem;
}
.cart-description {
font-size: 20px;
text-align: right;
font-family: var(--fontText);
}

.button-cart {
    margin-top: 0.7rem;
    font-size:large;
    font-family: var(--fontBebas);
    border-radius: 50%;
    padding: 0.7rem;
    letter-spacing: 1rem;
    color: white;
    background-color: #cd0800;
}

 #copyright-footer{
     text-align: center;
 }
