  /*HEADER-REGISTER-MOBILE*/
.header-register{
    width: 100%;
    height: 5.3rem;

}

.header-box-register{
    width: 100%;
    height: 5.2;
    display: flex;
    justify-content: flex-start;
    
}
 /*LOGO-MOBILE*/
.logo-register{
    display: flex;
    flex-direction: row;

}
.logo-img-register img{
    width: 3.5rem ;
    height: 5rem;
 
}

.logo-text-register h2{
    width: 17.3rem;
    height: 4rem;
    font-size: 2.8rem;
    color: white;
}
.logo-text-register{
    margin-top: 2rem;
}

 /*BODY-REGISTER-MOBILE*/

.box-register{
    background-color: white;
    width: 31.5rem;
    height: 50rem;
    padding:1.5rem 4rem 1rem 4rem;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 4.6rem;
    font-family: var(--fontText);

}
.box-form-register{
    width: 100%;
    height: 57rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-inputs-register{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.box-form-register h2{
    font-family: var(--fontBebas);
    font-size: 2.7rem;
    text-align: center;

}
.container-inputs-register input{
     height: 3.6rem;
     width: 27rem;
     border-radius: 2rem;
     border: 0.5px solid #000000;
     padding: 1.5rem;
     margin-top: 1rem;

}
.container-inputs-register input:focus{
    outline: none;
    border-color: var(--blue);
}

.container-inputs-register span{
    font-size: 1.3rem;
     display: flex;
     align-self: flex-start;
     margin-left: 2.2rem;
}

.container-inputs-register span a{
    text-decoration: underline;

}
/*inputs- error- red*/

.container-inputs-register span {
    color: rgba(246, 86, 11, 0.924);

 }

.box-form-register  .box-register .terms-register{
    margin-top: 1rem;
    font-size: 1.3rem;
}

.submit-register{
    color: white;
    background-color: var(--blue);
    border-radius: 2rem;
    transition: all 0.2s ease-out;
    display: flex;
    margin-top: 0.25rem;

}

.submit-register:hover{
    background-color: #2baefa;

}

.submit-register button{
    background: none;
    font-size: 2rem;
    width: 23.8rem;
    height: 3.5rem;
    color: inherit;
    border: none;
    font-family: var(--fontBebas);

}

.hr-register {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgb(110, 110, 110), rgb(177, 177, 177));
    border: none;
    margin-top: 1rem;
}
.button-img-fb button{
     border: none;
     color: white;
     background-color: var(--blue);
     width: 23.8rem;
     height: 3.5rem;
     background: none;
     font-size: 2rem;
     font-family: var(--fontBebas);
     display: flex;
     align-items: center;
     justify-content: center;
}

.button-img-fb{  
        background-color: var(--blue);
        border-radius: 2rem;
        transition: all 0.2s ease-out;
        margin-top: 1rem;

}
.button-img-fb i{
    border: solid var(--blue);
    font-size: 2.8rem;
}

.button-img-google-register {
        background-color: var(--blue);
        border-radius: 2rem;
        transition: all 0.2s ease-out;
        margin-top: 1rem;
        width: 23.8rem;
        height: 3.5rem;
        
}

.button-img-google-register button{
     color: white;
     width: 23.8rem;
     height: 3.5rem;
     background: none;
     font-size: 2rem;
     font-family: var(--fontBebas);
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 0.18rem;
     border: none;

}

.button-img-google-register img{
    margin: 0 0rem 0 -2.5rem;
    margin-top: -0.7rem;
}

.icon-register{
    display: none;

}

.icon-register-gl-box{
    display: none;

}

.end-register{
    border: solid white;
    font-size: 1.3rem;
    width:22rem ;
    height: 2.2rem;
    position: relative;
    top: 1.5rem;
    
}

/* Media Queries */

/* Mobile */

@media (min-width:320px) {
    .container-inputs-register p{
        display: none;
    }
    .container-inputs-register label{
        display: none;
    }

    .icon-register{
        display: none;
    }
    .icon-register-fb-box{
        display: none;
    }
    

   
}

@media (min-width: 640px) {

    /*main*/
    .box-form-register{
        width: 100%;
        height: 69.4rem;
      
    }
        /*INPUTS-TABLET*/
    .container-inputs-register label{
        display: flex;
        font-size: 2rem;
        height: 2.3rem;

    }

    .box-input-register{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .box-input-register2{
        display: flex;
        flex-direction: column;
        align-items: center;
     
    }


    .icon-register{
        display: none;
    }
    .button-img-fb{
        display: none;
    }
    .icon-register{
        display: flex;
    
    }
    .container-inputs-register p{
        display: flex;
    }
    
    .button-img-google-register{
         display: none;
    }
    .icon-register-gl-box{
        display: flex;
    
    }

    /* Header -TABLET*/
    .header-register{
        height: 16.6rem; 
        background-color: var(--blue);
    }
    .logo-register{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
         width: 24rem ;
        height: 24.8rem;
        position: relative;
        top: 3rem

    }
    .header-box-register{
        justify-content: center;
        
    }
    .logo-img-register img{
        width: 15.6rem ;
        height: 17rem;
        margin-left: 2rem;
    
    }
    .logo-img-register{
        width: 15.8rem ;
        height: 17.1rem;
     
    }
    .logo-text-register{
        margin-top: 0rem;
    }
    .logo-text-register h2{
        width: 25rem;
        height: 4.8rem;
        font-size: 4.2rem;
        padding-top: 0rem;
        margin-left: 1.6rem;
    }
    .logo-text-register{
        margin-top: 0rem;
        width: 23rem ;
        height: 4.8rem;
    }
   /*REGISTER-BODY-TABLET*/
   .box-register{
        height: 42rem;
        width: 62.3rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;        
        margin-top: -10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
     
    /*box-form-register*/
    .box-form-register{
        display: flex;
        justify-content: center;
      
    }

     /*TEXT-REGISTER-H2*/
    .box-form-register h2{
      font-size: 3.2rem;  

    }

      /*COLUMNS-TABLET*/
   .container-inputs-register{
       width: 56.3rem;
       height: 19rem;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      
   }
    
        /*TERMS-TABLET*/
    .terms-register{
        position: relative;
        top: -1rem;
        left: -17rem;

    }
    .container-inputs-register input{
            font-size: 1.7rem;
            color: #C5C5C5;

    }

      /*BUTTON-TABLET-REGISTER*/
    .submit-register button{
        width: 30.74rem;
        height: 4.96rem;  
        border-radius: 2rem;
        font-size: 3.3rem;     
             
    }
    .submit-register{
        width: 30.74rem;
        font-size: 3.3rem;
        height: 4.96rem;
        cursor: pointer;    
             
    }
    /*icon-box- register-facebook*/
    .icon-register-fb-box{
        display: flex;
        position: relative;
        top: 1rem;

    }
    .icon-register-fb-box button{
        border: none;
    }


    .icon-register-text{
        font-family: var(--fontText);
         font-size: 1.7rem;

    }

    .icon-register-fb i{
        color: rgba(0, 0, 255, 0.698);
        font-size: 3rem;
        padding-left: 1rem;
        background-color: white;
    }

    .icon-register-text2{
       font-family: var(--fontText);
        font-size: 1.7rem;

    }

    .icon-register-gl-box{
        position: relative;
        left: 11.7rem;
        top: -2rem;
    }
    .icon-register-gl img{ 
        width: 4rem;
        height: 3.5rem;
        background-color: white;

    }

    .icon-register-gl-box button{
        border: none;
    }

    .end-register{
        position: relative;
        top: -1rem;
        left: -16rem;
    
    }
}

    /*DESKTOP-FORM
@media (min-width: 1440px){

    
}*/

    
