<<<<<<< HEAD
 /*HEADER-REGISTER-MOVILE*/
 .header-register-top {
    position: relative;
 }
=======
<<<<<<< HEAD
  /*HEADER-REGISTER-MOVILE*/
=======
>>>>>>> d1097c666578e3634ed14f82772b95ffb018a6df
  /*HEADER-REGISTER-MOBILE*/
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
.header-register{
    width: 100%;
    
    height: 5.3rem;

}

.header-box-register{
    width: 100%;
    height: 5.2;
    display: flex;
    justify-content: flex-start;
    
}
 /*LOGO-MOBILE*/
.logo-register{
    display: flex;
    flex-direction: row;

}
.logo-img-register img{
    width: 3.5rem ;
    height: 5rem;
 
}

.logo-text-register h2{
    width: 17.3rem;
    height: 4rem;
    font-size: 2.8rem;
    color: white;
}
.logo-text-register{
    margin-top: 2rem;
}

 /*BODY-REGISTER-MOBILE*/
.general-register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 64rem;
    

} 
.box-register{
    background-color: white;
    width: 31.5rem;
    height: 50rem;
    padding-left: 5rem;
    padding-top: 1.5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 4.6rem;
    margin: 1.9rem  auto;
    

}

.box-form-register h2{
    font-family: var(--fontBebas);
    font-size: 2.7rem;
    text-align: center;

}
.container-inputs-register{
    height: 19rem;

}
.input-register{
    height: 3.4rem;
    width: 21.7rem;
    border-radius: 2rem;
    border: 0.5px solid #000000;
    margin-top: 1rem;
}

.container-inputs-register p{
    font-family: var(--fontText);
}
.terms-register label{
    font-family: var(--fontText);
    font-size: 1.3rem;

}

.terms-register{
   width:23rem ; 
}

 /*button-general*/
.submit-register{
    color: white;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    background-color: var(--blue);
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 2rem;
    font-family: var(--fontBebas);
    width: 23.8rem;
    height: 3.5rem;
    margin-top: 0.4rem;
    margin-left: -1.2rem;


}
.text-register{
    font-family: var(--fontText);
    font-size: 1.3rem;
    margin-top: 0.8rem;
}

/*BUTTON-MOVILE*/
.button-img-register{
    display: flex;
    flex-direction: column;
    width: 24rem ;
    height: 9.1rem;
    justify-content: space-between;
}

  
.button-img-fb{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    background-color: var(--blue);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 2rem;
    font-family: var(--fontBebas);
    width: 23.8rem;
    height: 3.5rem;
    margin-left: -1rem;
} /*button mobile-google*/
.button-img-google-register{
    
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    background-color: var(--blue);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 2rem;
    font-family: var(--fontBebas);
    width: 23.8rem;
    height: 3.5rem;
    margin-left: -1rem;

}
.button-img-google-register{
    display: flex;
   /* align-content: center;*/
    
}



.end-register{
    font-family: var(--fontText);
    font-size: 1.3rem;
    width:22rem ;
    height: 2.2rem;
    position: relative;
    top: 5rem;
    margin-left: 0.3rem;
}


/* Media Queries */

/* Mobile */

@media (min-width:320px) {
    .container-inputs-register p{
        display: none;
    }

    .icon-register{
        display: none;
    }
   
}
@media (min-width: 760px) {
<<<<<<< HEAD
=======
     /*BODY-TABLET-REGISTER*/
    .general-register{
        height: 102.4rem; 
        width: 100%;
        
        } 
    }

>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
    /* Header -TABLET*/
    .header-register{
        height: 16.6rem; 
    }
    .logo-register{
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
         width: 24rem ;
        height: 24.8rem;
        position: relative;
        top: 3rem

    }
    .header-box-register{
        justify-content: center;
        
    }
    .logo-img-register img{
        width: 15.6rem ;
        height: 17rem;
        margin-left: 2rem;
    
    }
    .logo-img-register{
        width: 15.8rem ;
        height: 17.1rem;
     
    }
    .logo-text-register{
        margin-top: 0rem;
    }
    .logo-text-register h2{
        width: 25rem;
        height: 4.8rem;
        font-size: 4.2rem;
        padding-top: 0rem;
        margin-left: 1.6rem;
    }
    .logo-text-register{
        margin-top: 0rem;
        width: 23rem ;
        height: 4.8rem;
    }
   /*REGISTER-BODY-TABLET*/
   .box-register{
        height: 38.8rem;
        width: 62.3rem;
<<<<<<< HEAD
        margin-top: 0rem;
=======
        margin-top: -10rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
        padding-left: 0rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        
   }
     
   .general-register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 102.4rem;
    

     } 

<<<<<<< HEAD
   .box-form-register h2{
        font-size: 4.2rem;

      
   }
     /*TEXT-REGISTER-H2*/
   .box-form-register h2{
    font-family: var(--fontBebas);
    font-size: 3.2rem;
    text-align: center;
    padding-top: 1rem;
=======
   
     /*TEXT-REGISTER-H2*/
   .box-form-register h2{
    font-family: var(--fontBebas);
    font-size: 4.2rem;
    text-align: center;
    padding-top: 1rem;
    margin-left: -0.5rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716

    }
    /*INPUTS-TABLET*/
   .container-inputs-register p{
    display: flex;
<<<<<<< HEAD
    font-size: 1.3rem;
    height: 2rem;
    position: relative;
    left: 9rem;

    } /*COLUMNS-TABLET*/
   .container-inputs-register{
       display: grid;
       grid-template-columns: auto auto auto auto ; 
       width: 56.3rem;
       height: 15rem;
      
   }
=======
    font-size: 2rem;
    height: 2rem;
    position: relative;
    left: 10rem;

    } 
    .input-register{
        width: 26.7rem;
        height: 3.2rem;
    }
    

      /*COLUMNS-TABLET*/
   .container-inputs-register{
       display: grid;
       grid-template-columns: 3rem auto 3rem auto;
       width: 56.3rem;
       height: 15rem;
       margin-left: 0rem;
      
   }
    
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
        /*TERMS-TABLET*/
    .terms-register{
            width:23rem ; 
            margin-left: 20rem;
<<<<<<< HEAD
=======
            margin-top: 1rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
         }
    .terms-register label{
            font-family: var(--fontText);
            font-size: 1.3rem;
        
        }
   .input-register{
       margin-bottom: 1rem;
<<<<<<< HEAD
       margin-top: 2.5rem;
       height: 4.1rem;

=======
       margin-top:3rem;
       height: 4.1rem;
       font-size: 1.7rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
   }
   /*BUTTON-TABLET-REGISTER*/
   .submit-register{
    
    border-radius: 2rem;
    font-size: 3.3rem;}


   /*DISPLAY-NONE-BUTTTON*/
       .button-img-fb{
           display: none;
       }
       .button-img-google-register{
           display: none;
       }
    /*BUTTON-TABLET*/
    .submit-register{
        font-size: 3.3rem;
        width: 30.74rem;
        height: 4.96rem;
        margin-left: 4.7em;
        cursor: pointer;
        transition: all 0.5s ease-out;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);

    }
    .text-register{
        font-family: var(--fontText);
<<<<<<< HEAD
        font-size: 1.3rem;
=======
        font-size: 1.7rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
        margin-top: 1.3rem;
       margin-left: 20rem;
    }

    .icon-register{
        display: flex;
        width: 12rem;
        position: relative;
<<<<<<< HEAD
        top: -10.5rem;
        left: 29rem;
=======
        top: -11rem;
        left: 31.6rem;
>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716
        font-family: var(--fontText);
        font-size: 1.3rem;
        justify-content:space-evenly ;
    }
    .end-register{
    
    position: relative;
<<<<<<< HEAD
    top: -8rem;
    left: 6rem;
    }

    }
=======
    top: -10rem;
    left: 6rem;
    }

>>>>>>> d1bfba0f12c8d2354c490e5cbc415a05a34b2716

    /*DESKTOP-FORM
@media (min-width: 1020px){

    .general-register{
        display: flex;
        width: 100%;
        height: 86.4rem;
  }
*/