<nav class="nav-admin">
    <a href="/" class="logo logo-admin"><img src="/images/logo.png" alt="logo-puertopc"></a>
    <a class="logo-text-admin" href="/">PuertoPc</a>
    <ul>
        <li><a href="/admin">Productos</a></li>
        <li><a href="/admin/crear">Crear producto</a></li>
        <li><a href="/admin/usuarios">Usuarios</a></li>
        <li><a href="">Banners</a></li>
    </ul>
    <p>admin: <%=admin%> </p>
</nav>