<nav class="nav-admin">
    <a href="/" class="logo logo-admin"><img src="/images/logo.png" alt="logo-puertopc"></a>
    <ul>
        <li><a href="/admin">Productos</a></li>
        <li><a href="/admin/crear">Crear producto</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="">Banners</a></li>
    </ul>
</nav>