<header class="header-register">
    <div class="header-box-register">
         <div class="logo-register">
              <a class="logo-img-register" href="/">
                  <img src="/images/logo.png" alt="logo" />
               </a>
               <a class="logo-text-register" href="/">
                 <h2>PuertoPC</h2>
               </a>
        </div>
    </div>
 </header>