<header class="header">
    <nav class="top">
        <a class="icon-menu">
            <i class="fas fa-bars"></i>
        </a>
        <a href="/" class="logo"><img src="/images/logo.png" alt="logo-puertopc"></a>
        <a class="logo-text" href="/">PuertoPc</a>
        <div class="search-bar">
            <input type="search" placeholder="Buscar productos">
            <a class="icon-search">
                <i class="fas fa-search"></i></a>
        </div>
        
        <a class="icon-cart" href="./productos/carrito">
            <i class="fas fa-shopping-cart"></i>
        </a>
            <% if (typeof locals.user != "undefined") { %>
                <span class="session"> 
                    <i class="far fa-user"></i> 
                </span>
                <a class="login-session" href="/profileUser/<%- user.id %> ">Mis datos</a>
                <a class="register-session" href="/logout">| Cerrar sessión</a>

              <% } else { %>
              <a class="icon-user" href="/login">
                   <i class="far fa-user"></i>
              </a>
              <a class="login" href="/login">Iniciar sesión</a>
              <a class="register" href="/register">| Regístrate</a>
             <% } %>

        
    </nav>
    
    <nav class="menu">
        <ul class="item">
            <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            <li class="item2"><a href="">Categorías <i class="fas fa-angle-down"></i></a></li>
            <li class="item3"><a href="">Ofertas</a></li>
            <li class="item4"><a href="">Armá tu PC</a></li>
            <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
            <li class="item6"><a href="/products/carrito">Carrito <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>

</header>
