<div id="boxCategoryMenu">
    <ul class="menuCategory">
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Almacenamiento</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Cables</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Camaras Web</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Collers</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Escritorio</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Fuentes</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Gabinetes</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Memorias RAM</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Monitores</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Motherboards</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Notebooks</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Placas de video</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Procesadores</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Sillas</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Sonido</li></a>
        <a href="/products/category/:id" class=""><li class="menuCategoryItem">Teclados y mouses</li></a>
    </ul>
</div>

