<ul>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-home"></i> Inicio</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-tag"></i> Ofertas</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-list-ul"></i> Categorias</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-laptop"></i> Armá tu PC</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-headset"></i> Ayuda</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobile-link"><i class="fas fa-map-marked"></i> Ubicacion</a></li>
</ul>