<div id="boxMenuLi">
    <ul class="menu-mobile">
    <li class="menu-mobile-item"><a href="/" class="menu-mobileLink"><i class="fas fa-home"></i> Inicio</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobileLink"><i id="menu-mobileIcon" class="fas fa-tag"></i> Ofertas</a></li>
    <li class="menu-mobile-item"><a href="/products" class="menu-mobileLink"><i class="fas fa-list-ul"></i> Categorias</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobileLink"><i id="menu-mobileIcon" class="fas fa-laptop"></i> Armá tu PC</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobileLink"><i class="fas fa-headset"></i> Ayuda</a></li>
    <li class="menu-mobile-item"><a href="#" class="menu-mobileLink"><i id="menu-mobileIcon" class="fas fa-map-marked"></i> Ubicación</a></li>
  </ul>
</div>