<div id="boxMenuUsers">
    <div class="boxImagUsers">
        <div class="imagUsersMenu">
            <div class="imagUsersIcon">
                <i class="fal fa-user-circle"></i>
            </div>
        </div>
        <div class="textsUsersMenu">
            <h3>Bienvenido</h3>
            <p>Ingresa a tu cuenta para ver tus compras, favoritos etc</p>
        </div>
    </div>
     <div class="buttonUsersMenu">
        <div class="buttonUsersMenuL">
         <button>Ingresa</button>
        </div>
        <div class="buttonUsersMenuR">
         <button>Crea tu cuenta</button>
         </div>
     </div>
</div>