<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>Puerto PC</title>
        <link rel="stylesheet" href="css/createProducts.css">
    </head>
<body>
    <main class="joni">
    <%- include('./partials/header.ejs') %>
        <form action="" method="post">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <label for="category">Categoría:</label>
                <select name="category" id="select">
                    <option value="">Perifericos</option>
                    <option value="">Escritorio</option>
                    <option value="">Portatil</option>
                </select>    
            </div>
            <div>
                <label for="colors">Colores:</label>
                <input type="color" name="colors" id="colors">
            </div>
            <div>
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price">
            </div>
            <div>
                <label for="image">Seleccionar imagen:</label>
                <input type="file" name="image" id="image">
            </div>
        </form>
    </main>
</body>
</html>