<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main class="padding-top-fixed">
        <form class="form-create action=" action="admin/create" method="post" enctype="multipart/form-data">
                <div class="container-input">
                    <label class="text-form" for="name">Nombre:</label>
                    <input class="text-camp" type="text" name="name" id="name">
                </div>
                <div class="container-input">
                    <label class="text-form" for="description">Descripción:</label>
                    <input class="text-camp" type="text" name="description" id="description">
                </div>
                <div class="container-input">
                    <label class="text-form"  for="category">Categoría:</label>
                    <select class="text-camp" name="category" id="select">
                        <% category.forEach(categoria => { %>
                            <option value=""><%=categoria%></option>
                        <% }) %>
                    </select>    
                </div>
                <div class="container-input">
                    <label class="text-form" for="colors">Colores:</label>
                    <input type="color" name="colors" id="colors">
                </div>
                <div class="container-input">
                    <label class="text-form" for="stock">Stock:</label>
                    <input class="text-camp" type="number" name="stock" id="stock">
                </div>
                <!-- <figure>
                    <label class="text-form" for="image">Seleccionar imagen:</label>
                    <input type="file" name="image" id="image">
                </figure> -->
                <div class="container-input">
                    <label class="text-form" for="price">Precio:</label>
                    <input class="text-camp" type="text" name="price" id="price">
                </div>
                <div class="container-input">
                    <label class="text-form" for="price">Descuento:</label>
                    <input class="text-camp" type="text" name="discount" id="price">
                </div>
                <button type="submit">
                    enviar
                </button>
            </form>
    </main>
</body>
</html>