<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/headerLogin.ejs') %> 
    <main class="main-form">
        <div class="form-container">

            <form action="" method="POST">
                <h2>Iniciar sesión</h2>
                <div class="form-login">
                    <div class="input-container email">
                        <label for="email">Email:</label>
                        <input class="input-style" type="email" name="email" id="email" placeholder="Ingresá tu email">
                        <span class="error-message">Debes ingresar tu email</span>
                    </div>
                    <div class="input-container pass">
                        <label for="pass">Contraseña:</label>
                        <input class="input-style" type="password" name="password" id="pass" placeholder="Ingresá tu contraseña">
                        <span class="error-message">Debes ingresar tu contraseña</span>
                    </div>
                    <div class="check-keep-session">
                        <input type="checkbox" name="keep-session" id="keep-session">
                        <label for="keep-session">Mantener sesión abierta</label>
                    </div>
                    <div class="form-button-container">
                        <span class="error-message credenciales">Credenciales inválidas</span>
                        <button type="submit" class="enter">Ingresar</button> <!-- type submit envía el form -->
                    </div>
                    <p class="log-with">O ingresa con:</p>
                    
                    <hr>
                    <div class="form-button-container-google">
                        <button><img src="/images/button-login/google1.png" alt="icon-google"></button>
                    </div>
                    <p class="or">o</p>
                    <div class="form-button-container-fb">
                        <button><img src="/images/button-login/facebook.png" alt="icon-google"></button>
                    </div>
                    <div class="form-button-container">
                        <button class="fb"><i class="fab fa-facebook-square"></i>ingresar con facebook</button>
                    </div>
                    <div class="form-button-container">
                        <button class="google"><img src="/images/button-login/google1.png" alt="icon-google">Ingresar
                            con google</button>
                    </div>
                    <span class="forgot-pass"><a href="">¿Olvidaste tu contraseña?</a></span>
                    <span class="register">¿No tenés cuenta? <a href="/register">Regístrate</a></span>
                </div>
            </form>

        </div>
    </main>
    <%- include('../partials/footer.ejs') %> 

</body>

</html>