<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        
        <%- include('../partials/header.ejs') %>

        <main class="">

            <div class="form-account">
                <div>
                    <label>Lugar para el avatar</label>
                    <h2>Mi cuenta</h2>

                    <div>
                        <h3>Datos de cuenta</h3>
                        <div>
                            <div>
                                <label>Nombre y apellido:</label>
                            </div>
                            <div>
                                <label>Email:</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Datos personales</h3>
                        <div>
                            <div>
                                <label>Dirección: </label>
                            </div>
                            <div>
                                <label>Teléfono: </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

    </body>

</html>