<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        
        <%- include('../partials/header.ejs') %>

        <main class="">

            <div class="form-account">
                <div>
                    <h3>Mi cuenta</h2>
                    <label>Lugar para el avatar</label>
                </div>
                    <div>
                        <h4>Datos de cuenta</h3>
                        <div>
                            <div>
                                <label>Nombre:</label>
                            </div>
                            <div>
                                <label for="">Apellido:</label>
                            </div>
                            <div>
                                <label>Email:</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4>Datos personales</h3>
                        <div>
                            <div>
                                <label>País: Argentina</label>
                            </div>
                            <div>
                                <label>Provincia:</label>
                            </div>
                            <div>
                                <label>Ciudad:</label>
                            </div>
                            <div>
                                <label>Domicilio: </label>
                            </div>
                            
                            <div>
                                <label>Teléfono: </label>
                            </div>
                        </div>
                    </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

    </body>

</html>