<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %> 
   <body class="body-register">
       <%- include('../partials/headerLogin.ejs') %> 

      <main class="box-form-register">
        <form action="/register" method="POST">
          <div class="box-register">
            
               <h2>Registro de Usuario</h2>
                   <div class="container-inputs-register">

                    <div class="box-input-register">
                      <label for="name">Nombre:</label>
                      <input class="input-register" type="text" name="firstName" id="name" placeholder="Ingresa tu nombre.." required >
                      <span class="error-message-register">Debes ingresar tu nombre</span>

                      <label for="name">Apellido:</label>
                      <input class="input-register" type="text" name="lastName" id="name" placeholder="Ingresa tu apellido.." required >
                      <span class="error-message-register">Debes ingresar tu apellido</span>

                      <label for="address">Domicilio:</label>
                      <input class="input-register" type="address" name="address" id="address" placeholder="Ingresa tu dirección.."  required >
                      <span class="error-message-register">Debes ingresar tu domicilio</span>
                    </div>
                    <!-- <hr class="hr-register"> -->
                    <div class="box-input-register2">

                      <label for="email">Email:</label>
                      <input class="input-register" type="email" name="email" id="email" placeholder="Ingresa tu correo.."  required >
                      <span class="error-message-register">Debes ingresar tu email</span>

                      <label for="pass">Contraseña:</label>
                      <input class="input-register" type="password"  name="password" id="pass" placeholder="Ingresa una contraseña.." required >
                      <span class="error-message-register">Debes ingresar tu contraseña</span>

                      <label for="email">Repite tu contraseña:</label>
                      <input class="input-register" type="password" name="password2" id="pass2" placeholder="Repite tu contraseña.."  required >
                      <span class="error-message-register">Debes repetir tu contraseña</span>

                    </div> 

                    </div>
                <div class="terms-register">
                   <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                   <input type="checkbox" name="terms-register" id="terms">
                 </div>

                 <div class="submit-register">
                       <button type="submit" class="registrarse">Registrarse</button> 
                 </div>
            <hr class="hr-register">

           <div class="button-img-fb">
               
               <button><i class="fab fa-facebook-square"></i>registrarse con facebook</button>
            </div>
      
           <div class="button-img-google-register">
             <button><img src="/images/button-login/google1.png" alt="icon-google">Registrarse con google</button>
           </div>
      
      
            <div class="icon-register-fb-box">
              <span class="icon-register-text">o registrarse con: </span>
             <button class="icon-register-fb"><i class="fab fa-facebook-square"></i></button>
           </div>
           <div class="icon-register-gl-box">
               <span  class="icon-register-text2">o</span>
              <button class="icon-register-gl"><img src="/images/button-login/google1.png" alt="icon-google"></button>
           </div>
      
              <span class="end-register">¿Ya tienes una cuenta? <a href="login">Ingresa aquí</a></span>
         </div>
       </form>
      </main>   
   
      <%- include('../partials/footer.ejs') %> 

  </body>
</html>
