.container {
    padding: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.container-table{
    border: 0.1rem solid grey;
}

.search-admin button{
    background-color: white;
    border: none;
}

.navbar-dark {
    background-color: var(--blue);
    height: 5rem;
}

.btn {
    width: 5rem;
}

.table{
    width: 100%;
}

.table-dark tr {
    font-size: 1.6rem;
}

.table-products th{
    font-size: 1.4rem;
}

.id{
    border-right: 0.1rem solid white;
}

.number-id {
    width: 3rem;
    border-right: 0.1rem solid grey;
    text-align: center;
}
