
.container {
    padding: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* container search */
.container-search {
    display: flex;
    align-items: center;
}

.search-admin button{
    background-color: white;
    border: none;
}

.search-bar-admin {
    order: -1;
}

.btn-up {
    background-color: var(--darkBlue);
    color: white;
    font-size: 1.4rem;
}

.btn-up:hover {
    color: whitesmoke;
}

/* table */
.container-table{
    border: 0.1rem solid grey;
}


.table-products .btn {
    width: 5rem;
}

.table{
    width: 100%;
}

.table-dark tr {
    font-size: 1.6rem;
}

.table-products th{
    font-size: 1.4rem;
}

.id{
    border-right: 0.1rem solid white;
}

.number-id {
    width: 3rem;
    border-right: 0.1rem solid grey;
    text-align: center;
}
