
.body-create {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-create {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-create {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    width: 90%;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.30);
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-crear {
    font-size: 2.1rem;
    font-family: var(--fontText);
    color: var(--grey);
}

.hr-create{
    height: 3px;
    background: linear-gradient(to right, #7f7fd5, #cddeff, #ffffff);
    width: 50%;
}

header .top-create {
    flex-direction: row;
    justify-content: flex-start;
}

.container-input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.text-form {
    color: var(--grey);
    font-family: var(--fontText);
    font-size: 1.6rem;
    font-weight: bold;
}

.text-camp {
    border-style: none;
    border: 1px solid var(--grey);
    padding: 1rem;
    width: 100%;
    font-family: var(--fontText);
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    background-color: rgba(231, 226, 226, 0.521);
}

.text-camp:focus {
    outline: none;
    background-color: white;
}

.select-image {
    background-color: var(--blue);
    border-radius: 0.8rem;
    width: 70%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
}

.select-image:nth-child(2),
.select-image:nth-child(3){
    display: none;
}

.select-image:hover {
    filter: brightness(90%);
}

.select-image label{
    position: absolute;
    font-family: var(--fontText);
    color: white;
}

.buttom-image {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    cursor: pointer;
}

.color .text-camp {
    width: 2rem;
}

.form-create span.error-message {
    font-family: var(--fontText);
    font-weight: bold;
}

.button-submit-create:hover {
    transform: scale(1.02);
}

@media (min-width: 480px) {
    .form-create{
        width: 70%;
    }
}

@media (min-width: 768px) {
    .form-create{
        width: 60%;
    }
    .container-select-image {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .select-image:nth-child(2),
    .select-image:nth-child(3){
        display: block;
    }

    .select-image {
        width: 30%;
        height: 10rem;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-style: dashed solid ;
        border-color: var(--blue);
    }

    .select-image label {
        color: var(--grey);
    }

}