.button-edit-info{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar-editUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar-editUser img{
    border-radius: 5rem;
    border: 0.2rem solid var(--blue);
    margin: 1rem;
}
.btnAvatar{
	text-align: center;
	color:white;
}

.avatar-editUser .div_file{
    border: none;
    width: 30%;
    height: 10%;
    font-size: 2rem;
    font-family: var(--fontBebas);
    color: white;
    background-color: var(--darkBlue);
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
    margin-top: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.2rem rgb(0 0 0 / 25%);
    transition: all 0.5s ease-out;
    position: relative;

}

.uploadAvatar{
    font-family: var(--fontBebas);
    cursor: pointer;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}
.avatar-editUser .div_file:hover{
	background-color: #2baefa;
    transition: all .3s ease-in-out;
}
.avatar-editUser .div_file:focus{
    outline: none;
    border-color: var(--blue);
}

.button-edit-info .submit{
    color: white;
    font-size: 2rem;
    width: 23.8rem;
    height: 3.5rem;
    border: none;
    font-family: var(--fontBebas);
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2rem;
}
.button-edit-info .submit:hover{
    background-color: #2baefa;
    transition: all .3s ease-in-out;
}
.data {
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.1rem rgb(229 229 229); 
    flex-wrap: wrap; 
}
.data input {
    height: 2.2rem;
    width: 68%;
    border-radius: 2rem;
    border-width: 0.5px;
    border-style: solid;
    padding: 0 1rem;
}

.select-css {
    display: block;
    background-color: white;
    font-size: 1.6rem;
    font-family: var(--fontText);
    border-radius: 2rem;
    width: 68%; 
    height: 2.2rem;

    border-width: 0.5px;
    border-style: solid;
}

.error-message-editUser{
    color: var(--errorMessage);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 1rem 0 0;
}

.editErrors{
    color: var(--errorMessage);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 1rem 0 0;
}

 .submitEditErrors{
    display: flex;
    justify-content: flex-start;
    padding-left: 5rem ;
}



.form-edit-user input.error {
    border: 2px solid var(--errorMessage);
  }
  

  .error_borde {
    border-color: var(--errorMessage);
    box-shadow: 0px 0px 2px 1px var(--errorMessage);

    
  }
  .error_borde_ok {
    border-color: green;
    box-shadow: 0px 0px 2px 1px rgb(0, 255, 0);

}


/* Media queries */
    /* Desktop */

    @media (min-width: 1050px) {
        
        .form-edit-user .button-edit-info .submit{
            font-size: 2.2rem;
            width: 26.8rem;
            height: 4.2rem;
        }
        
        .form-edit-user .my-account {
            width: 100%;
            order: 1;
      
        }
        .form-edit-user .personal-information{
              width: 50%;
              order: 2;
              
        }
        
        .form-edit-user .account-data{
              width: 50%;
              order: 3;  
              

        }
        .form-edit-user .data label {
            width: 30%;
        }
        
        .form-edit-user .error-message-editUser{
            width: 100%;

        }
        .form-edit-user .editErrors, .form-edit-user .addressErrors{
            color: var(--errorMessage);
            width: 100%;            
        }
        .error_borde {
            border: var(--errorMessage);
          box-shadow: 0px 0px 2px 1px var(--errorMessage);
        }
        .error_borde_ok {
          border: green;
        box-shadow: 0px 0px 2px 1px rgb(0, 255, 0);
        }
        
        
        
    }