header {
    font-family: var(--fontPrimary);
    background-color: var(--blue);
    width: 100%;
    height: 5.3rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header .top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header .top .icon-menu {
    order: 1;
    font-size: 3.2rem;
    padding-right: 0rem;
    padding-left: 0.5rem;

}

header .top .logo img{
    height: 4rem;
}
header .top .logo{
    order: 2;
    padding: 0.1rem;
    height: 4rem;

}
.search-bar {
    order: 3;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-grow: 0.9;
    position: relative;
    display: flex;
    justify-content:flex-end;
    

}
.search-bar input{
    display: flex;
    width: 100%;
    border-radius: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.search-bar input:focus{
    outline: none;
}

.search-bar button {
    border: none;
    background-color: white;
    position: absolute;
    right: 1.5rem;
}
i.fa-search{
    cursor: pointer;
}

header .top .icon-cart {
    order: 4;
    font-size: 2.2rem;
    margin: 0.5rem;
    color: white;

}

header  .top .icon-user {
    order: 5;
    font-size: 2.2rem;
    margin: 0.5rem;
    color: white;

}

header .session {
    order: 5;
    font-size: 2.2rem;
    margin: 0.5rem;
    color: var(--green);
}


/*Media Queries */

/* Mobile */
@media (min-width:320px) {
    .header .top .logo-text{
        display: none
    }
    header .menu {
        display: none;
    }
    header .top .login {
        display: none;
    }
    .header .login-session{
        display: none;
    }
    header .top .register {
        display: none;
    }
    header .register-session{
        display: none;
    } 
    /*menu-mobile*/
    header .top {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
        width: 100%;
        height: 100%;
    }
    .boxMenu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 60%;
        margin-top: 0rem;

    }
    
    #icon-menu-mobile{   
        padding-left: 0.5rem;
        cursor: pointer;
    }
    header .top .icon-cart i {
        margin-right: 0rem;
    }
    
    header  .top .icon-user{
        display: none; 
    }
    /*icon user mobile*/
    /**/ 
    #icon-userMobile {
        order: 5;
        font-size: 2.2rem;
        margin: 0.5rem;
        color: white;
    
    }

    /*icon-user-login*/
    header .session {
        display: none;
    }
     
}

/* Tablet */
@media (min-width: 480px) {
    header  .top .search-bar {
        flex-grow: 0.4;
    }
    header .menu {
        display: none;
    }
    .header .top .logo-text{
        display: none
    }

}

/* Desktoop */
@media (min-width: 760px) {
    #icon-userMobile{
        display: none;
    }
    header {
        height: 10.6rem;
        display: flex;
        flex-direction: column;
    }
    

    header .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    header .top .icon-menu {
        display: none;
    
    }
    header .top .logo img {
        height: 6rem;
    }
    header .top .logo{
        order: 1;
        padding: 0 0.1rem;
        margin-left: 1.8rem;
    }
    .header .top .logo-text{
        order: 2;
        display: flex;
        color: white;
        align-items: end;
        margin-bottom: 0.3rem;
        font-size: 2.5rem;

    }
    .search-bar {
        order: 3;
    }
    .search-bar input{
        height: 3.9rem;
    }
    .search-bar .icon-search {
        font-size: 1.8rem;

    }

    header .top .icon-cart {
        display: none;
    
    }
    
    header  .top .icon-user {
        order: 4;
        font-size: 1.8rem;
        margin: 0.5rem;
        display: flex;
        align-items: center;
    }
    /*icon-user-login*/
    header .session {
        order: 4;
        font-size: 1.8rem;
        margin: 0.5rem;
        display: flex;
        align-items: center;
    }

    header .top .login {
        order: 5;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 0.1rem;
    }
    header .top .login:hover{
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(51, 51, 51);
    }
    
    /*Session*/
    .header .login-session {
        order: 5;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-left: 0.1rem;
    }
    .header .login-session :hover{
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(51, 51, 51);
    }
    
    header .top .register {
        order: 6;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 2rem 0 0.45rem;
        font-size: 1.2rem;
    }
    header .top .register:hover{
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(51, 51, 51);
    }
     /*Session- register*/
    header .register-session{
        order: 6;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 2rem 0 0.45rem;
        font-size: 1.2rem;
     }
     header .register-session :hover{
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(51, 51, 51);
     }
    header .menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    header .menu .item{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.5rem;
    }
    header .menu .item .item1{
        order: 1;
        margin-left: 3rem;
        margin-right: 10rem;


    }
    header .menu .item .item2{
        order: 2;
        margin: 0 0.5rem;
    }
    header .menu .item .item3{
        order: 3;
        margin: 0 0.5rem;

    }
    header .menu .item .item4{
        order: 4;
        margin: 0 0.5rem;

    }
    header .menu .item .item5{
        order: 5;
        margin: 0 0.5rem;

    }
    header .menu .item .item6{
        order: 7;
        margin-right: 3rem;
        margin-left: 10rem;
    }

    /* header .menu ul li {
    } */
    header .menu ul li a{
        list-style: none;
        color: white;
    }
    header .menu ul li a:hover {
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(51, 51, 51);
    }
}