.home {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.home a,
.home a:visited {
    color: black;
}

.home .products {
    width: 100%;
}

/* Banner */
.home .banner{
    display: none; 
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
}

/* Subtitles */
.subtitle{
    margin: 1rem 0 1.5rem;
    padding-left: 5rem;
    font-family: var(--fontText);
    font-size: 2rem;
    color: #808080;
    border-bottom: .1rem solid var(--greyLight);
}

.home .subtitle .link-all{
    font-size: 1rem;
    font-weight: 200;
    color: var(--blue);
    transition: color 2s ease-in;
}

.home .subtitle .link-all:hover{
    color: #64c3fa;
}

/* slider of products */
.home .products .slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 5rem;
}

/* Product Cards */
.home .products .slider .card {
    width: 25rem;
    height: 35.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.30);
    border-radius: .9rem;
    background-color: white;
    transition: all 0.3s ease;
}

.home .products .slider .card:hover {
    transform: scale(1.02);
}

.home .products .slider-offer .card {
    height: 30rem;
}

/* images of cards*/
.card div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16.5rem;
    border-bottom: .1rem solid var(--greyLight);
}

.card div img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


/* Texts of cards */
.card-info h3 {
    font-family: var(--fontText);
    font-size: 1.4rem;
    width: 90%;
    margin: .6rem auto ;
    text-align: center;
}

.card-description-text {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0;
    position: relative;
    line-height: 2.2rem;
    padding-top: 2;
}

.card-description-text p {
    font-family: var(--fontText);
}

.card-description-text p:nth-child(1){
    font-size: 1.6rem;
}

.card-description-text p:nth-child(2),
.card-description-text p:nth-child(3){
    font-size: 1.5rem;
    color: var(--green);
    text-align: left;
}

/* offers */
.slider-offer .card-description-text p:nth-child(1){
    order: 3;
    margin-top: 0.6rem;
    font-size: 2rem;
}

.slider-offer .card-description-text p:nth-child(2){
    font-size: 1.6rem;  
}

.card-description-text p span {
    text-decoration: line-through;
    padding-right: 1.20rem;
}

/* Buttons */

.button-box {
    display: flex;
    justify-content: center;
}

.button-buy {
    border: none;
    font-size: 2rem;
    font-family: var(--fontBebas);
    color: white;
    background-color: var(--darkBlue);
    border-radius: .2rem;
    padding: .3rem .5rem;
    margin-top: .3rem;
    box-shadow: .3rem .3rem .2rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card .button-buy {
    position: absolute;
    bottom: 0.8rem;
}

.card button:hover{
    background-color: #486297;
}

/* arrows of the sliders */
i.fa-chevron-down {
    font-size: 3rem;
    color: var(--greyLight);
    border-radius: 50%;
    padding: 1rem;
    text-align: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

i.fa-chevron-down:hover {
    background-color: var(--grey);
}

.fa-chevron-down:nth-child(5) {
    position: absolute;
    transform: rotate(90deg);
    left: -0.2rem;
}

.fa-chevron-down:nth-child(6) {
    position: absolute;
    transform: rotate(270deg);
    right: -0.2rem;
}

.prev {
    position: absolute;
    transform: rotate(90deg);
    top: 12rem;
    left: -0.2rem;
}

.next {
    position: absolute;
    transform: rotate(270deg);
    top: 12rem;
    right: 0.2rem;
} 


/* display none to the cards */
.home .products .slider .card:nth-child(2),
.home .products .slider .card:nth-child(3),
.home .products .slider .card:nth-child(4) {
    display: none;
}

/* Media queries */
/* Primer quiebre */
@media (min-width: 550px) {
    .home .products .slider .card:nth-child(2) {
        display: inline-block;
    }
}

/* segundo quiebre */
@media (min-width: 810px) {
    .home .products .slider .card:nth-child(3) {
        display: inline-block;
    }
}


/* Tercer quiebre */
@media (min-width: 1070px) {
    .home .products .slider .card:nth-child(4) {
        display: inline-block;
    }
}

/* Desktop */
@media (min-width: 760px) {
    .home .banner{
        display: inline-block;
        width: 100%;
        position: relative;
    }

    .home .banner img {
        width: 100%;
        height: 30rem;
        object-fit: unset;
    }

    .home .banner i:nth-child(2){
        position: absolute;
        right: 0.7rem;
        top: 12rem;
        transform: rotate(270deg);
    }
    
    .home .banner i:nth-child(3){
        position: absolute;
        left: 0.7rem;
        bottom: 12rem;
        transform: rotate(90deg);
    }

}