.body-product-cart {
    padding-top: 5.3rem;
}

/* Container cart */
.container-cart{
    background-color: white;
    margin-top: 10rem;
    margin-top: 7rem;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 2rem auto;
}

.container-cart .section-title {
    position: absolute;
    top: .5rem;
    left: 1rem;
}

#carrito {
    width: 90%;
}

.card-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--greyLight);
    width: 100%;
    border-radius: .8rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.section-title + div{
    margin-top: 3.5rem;
}

.section-title{
    font-size: 2rem;
    font-family: var(--fontText);
    margin-left: 2rem;
    color: var(--grey);
}

.cart-description-text{
    font-family: var(--fontText);
    font-size: 1.4rem;
    margin: .6rem auto ;
    text-align: center;
    width: 19rem;
}

/* price */
.price {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.total-price span:nth-child(1),
.container-increment p,
.price p:nth-child(1) {
    font-family: var(--fontText);
    font-size: 1.8rem;
}

.price p:nth-child(1){
    color: #444444;
}

.subtotal {
    color: #444444;
}

.price p:nth-child(2),
.price-bruto {
    font-size: 2rem;
    color: var(--green);
    font-family: var(--fontText);
}

.container-total {
    display: flex;
    width: 85%;
    justify-content: flex-end;
}


/* increment */
.container-increment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-family: var(--fontText);
    color: var(--blue);
    font-weight: bold;
}

.container-increment div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    width: 7rem;
    border: solid 1px var(--darkBlue);
    border-radius: 0.5rem;
}

.container-increment div button {
    border: none;
    color: var(--darkBlue);
    cursor: pointer;
    font-size: 1.8rem;
}

.container-increment input:focus {
    outline: none;
}


/* seccion info */
.container-info {
    width: 90%;
}


/* Precio Total */
.total-price {
    border: .1rem solid var(--greyLight);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    gap: .5rem;
}

.total-price span:nth-child(1){
    font-size: 2rem;
}
/* seccion image  */
.image-container {
    width: 25rem;
    height: 16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-cart {
    width: 80%;
    height: 90%;
    object-fit: contain;
}

.image-container-ext {
    width: 100%;
    display: flex; 
    justify-content: center;
     border-bottom: 1px solid var(--greyLight);
}

/* button */
.button__buy-cart {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


.button__buy-cart button:hover {
    background-color: #486297;
}


/* x for delete products of cart */
.fa-times {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2.5rem;
    color: rgb(255, 51, 51);
    font-weight: lighter;
    cursor: pointer;
    transition: color 0.2s ease-in;
    font-weight: 500;
}

.fa-times:hover {
    color: rgb(255, 149, 149);
}

/* CART EMPTY */
.container-cart-empty {
    padding: 8.82rem;
}

.container-cart .fa-cart-shopping {
    font-size: 20rem;
    color: var(--darkBlue);
}

.container-cart-empty p {
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 2rem;
    color: var(--grey);
    font-family: var(--fontText);
    font-weight: bold;
    text-align: center;
}

    /* MEDIA QUERIES */

    /* Tablet */
/* buttons-finals */
@media (min-width: 480px) {
    .container-cart {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    }
    
    .button__buy-cart {
        flex-direction: row;
        width: 90%;
        margin-bottom: 1.5rem;
        justify-content: space-around;
    }

    .button__buy-cart button:nth-child(1) {
        order: 2;
    }

    .container-increment,
    .price {
        justify-content: space-around;
    }

}


/* Desktop */
@media (min-width: 760px) {
    .card-cart{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    .image-container-ext{
        width: 18%;
        border: none;
        flex-grow: 1;
        border-right: .1rem solid var(--greyLight);
    }
    
    .cart-description-text{
        display: inline-block;
        width: 20%;
        margin: 0 !important;
        flex-grow: 1;
        padding-left: 1rem;
    }

    .container-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 4;
    }

    .button__buy-cart {
        flex-direction: row;
        width: 90%;
        margin-bottom: 1.5rem;
        justify-content: space-around;
    }


    .container-increment {
        flex-grow: 1.3;
    }

    .price {
        flex-grow: 0.5;
        align-items: center;
    }

    .container-increment,
    .price {
        justify-content: space-evenly;
    }

    .button__buy-cart {
        justify-content: flex-end;
        gap: 4rem;
    }
}