
.product-detail-body {
    overflow-x: hidden;
}

/*  --------------
    PRODUCT ADRESS 
    --------------
*/
.productAdress{
    /* border: 1px red solid; */
    color: var(--greyLight);
    /* padding: 1rem; */
    margin-bottom: 1rem;
}

.productAdress h3 {
    font-family: var(--fontPrimary);
}

/*  -------------------------------
    PRODUCT IMAGE VIEW AND SELECTOR 
    -------------------------------
*/

.productImages{
    display: flex;
    justify-content: center;
    height: 28rem;
    width: 100%;
    /* border: 1px red solid */
}

.productImageSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 10rem;
    /* border: 1px blue solid; */
}

.imgSelector{
    width: 100%;
    height: 6rem;
    border: 1px var(--greyLight) solid;
    border-radius: 1rem;
}

.imgSelector img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top: 2rem;
}

.productImagePrincipal{
    margin-left: .5rem;
    height: 80%;
    width: 80%;
    border: 1px var(--greyLight) solid;
    border-radius: 1rem;
    /* background-color: var(--greyLight); */
}

.productImagePrincipal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*  -------------------------------------
    PRODUCT DETAIL 1 NAME PRICE AND STOCK
    -------------------------------------
*/
.boxProductDetails{
    width: 100%;
    display: flex;
    justify-content: center;
}
.productDetails {
    height: 70rem;
    width: 80%;
    border: 1px var(--greyLight) solid;
    border-radius: 1rem;
    background-color: var(--greyLight);
    padding: 1rem;    
}

.productDetails .details-1 {
    height: 12rem;
    text-align: center;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetails .details-1 h1{
    display: block;
    color: black;
    font-family: var(--fontText);
    font-size: 2rem;
    font-weight: lighter;
}

.productDetails .details-1-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 2rem;
}

.productDetails .details-1-row #price{
    color: var(--blue);
    font-size: 2.5rem;
    font-family: var(--fontPrimary);
    letter-spacing: .3rem; 
    height: 3.2rem;
    font-weight: bolder;
}

.productDetails .details-1-row h3{
    color: white;
    padding: .5rem;
    height: 3rem;
    font-family: var(--fontText);
    font-size: 1.2rem;
    background-color: var(--darkBlue);
    margin-top: .9rem;
    border-radius: 1rem;
}

/*  ------------------------------------------
    PRODUCT DETAIL 2 FEE SHIPPING AND WARRANTY
    ------------------------------------------
*/

.productDetails .details-2{
    width: 100%;
    height: 10em;
    border-bottom: 1px black solid;
    display: flex;
    font-family: var(--fontText);
    justify-content: flex-start;
}

.productDetails .details-2 i{
    font-size: 3rem;
    color: var(--darkBlue);
    border: var(--greyLight) solid;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.productDetails .details-2 h1{
    width: 15rem;
    margin-top: .5rem;
    font-size: 1.4rem;
    text-align: center;
    color: var(--darkBlue);
    
}

.productDetails .details-2 h3{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    background-color: var(--blue);
    color: white;
    height: 25%;
    width: 9rem;
    border-radius: 1rem;
    padding: .3rem;
    border: solid var(--blue);

}

.productDetails .details-2 h3:hover{
    cursor: pointer;
}

/*  ----------------------------
    PRODUCT DETAIL 3 BUY BUTTONS
    ----------------------------
*/

.productDetails .details-3{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productDetails .details-3 .increment-btn{
    font-size: 1.2rem;
    font-family: var(--fontBebas);
    font-weight: lighter;
    border-radius: 1rem;
    padding: .7rem;
    border: 1px solid black;
    width: 10rem;
    letter-spacing: .5rem;
}

.productDetails .details-3 .increment-btn:hover{
    cursor: pointer;
}

.productDetails .details-3 .buy-btn{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: var(--fontBebas);
    border-radius: 1rem;
    padding: 1.5rem;
    letter-spacing: .3rem;;
    border-style: none;
    background-color: var(--darkBlue);
}
.productDetails .details-3 .buy-btn:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.productDetails .details-3 .buy-btn h1 a {
    color: white;
    font-weight: lighter;
}

/*  -------------------------------
    PRODUCT DETAIL 4 SPECIFICATIONS
    -------------------------------
*/
.productDetails-2{
    height: 80em;
    width: 90%;
    border: 1px var(--greyLight) solid;
    border-radius: 1rem;
    background-color: var(--greyLight);
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .8rem;
}

.details-4 {
    height: 35rem;
    width: 100%;
    font-family: var(--fontPrimary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-4 h1 { 
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 1px black solid;
}

.details-4 .category{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.details-4 .category h2{
    font-size: 1.4rem;
    border-bottom: 1px black solid;
}

/*  ----------------------------
    PRODUCT DETAIL 5 DESCRIPTION
    ----------------------------
*/

.details-5{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    margin: 0rem 1rem 1rem 1rem;
}

.details-5 h1{
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 1px black solid;
    font-family: var(--fontPrimary);
}

.details-5 p{
    /* padding: 1rem; */
    font-family: var(--fontText);
    font-size: 1.5rem;
    line-height: 2.4rem;
}

/* MEDIA QUERIES */
/* Primer quiebre */
 /* MEDIA QUERIES */ 
 /*MOBILE*/
 @media (min-width: 320px){
    h1{
        color: black;
        order: 0;
    }

    .details-2-tablet{
        display: none;
    }
    .iconTabletDetail{
        display: none;
    }

    #boxProductDetails{
        height: 110rem;
    }
    .productDetails-2{
        height: 93rem;
    }

    .details-1{
          height: 16rem;
    }
    .details-1 h1{
        margin-top: -1rem;
    }

    .details-2 {
        align-items: center;
    }
    .details-4 {
        height: 32rem;
    }
    .details-5 h1 {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

}
/* Segundo Quiebre */

@media (min-width: 480px){ 
    .productImages{
        height: 50rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    /*img-primer*/
    .productImagePrincipal{
        width: 100%;
        height: 35rem;
    }

    /*select-img*/
    .productImageSelector{
        flex-direction: row;
        width: 100%;
        height: 15rem;
    }
    .imgSelector{
        height: 100%;
    }
    .product {
        display: flex;
        flex-direction: row;
    }
    .productDetails{
        height: 50rem;
        width: 90%;
    }
    .productDetails-2{
        height: 60rem;
    }

    .productDetails .details-1{
        justify-content: space-between;
        height: 14rem;
        border-bottom: none;
    }
    .productDetails .details-1 h1{
        margin-top: 0.5rem;
    }
    .productDetails .details-1-row{
        margin-left: 0rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }

    .productDetails .details-1-row h3{
       height: 2rem;
       width: 10rem;
    }

    .productDetails .details-1-row #price{
        font-size: 3rem;
    }
    .productDetails .details-2{
        height: 6rem;
        justify-content: center;
    }
    .productDetails .details-2{
         font-size: 1.5rem;
         display: none;
    }

    .productDetails .details-2 h3{
        font-size: 1.4rem;
        height: 2rem;
    }
    .productDetails .details-2 i{
        font-size: 5rem;;
        display: none;
    }
    .productDetails .details-3{
        height: 17.5rem;
        width: 100%;;
        margin-top: 0rem;
        border-bottom: none;
    }
    
    .productDetails .details-3 .increment-btn{
        font-family: var(--fontBebas);
        width: 10rem;
        
    }
    
    .productDetails .details-3 .buy-btn{
        margin-top: 1rem;
        font-size: 1.6rem;
        font-family: var(--fontBebas);
        padding: .5rem;
        letter-spacing: 0rem;
        color: white;
    }
    .details-2-tablet{
        display: flex;
        font-family: var(--fontText);
        justify-content: center;
        align-items: center;
        position: relative;
        top: 1.5rem;

    }

    .details-2-tablet h1{
        text-align: center;
    }
    .details-2-tablet h3:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }

    .productDetails .details-2-tablet h3 {
        font-size: 1.2rem;
        margin: 1rem;
        background-color: white;
        color: black;
        height: 25%;
        border-radius: 1rem;
        padding: .3rem;
        text-align: center;
        border: 1px solid black;

    }

    .iconTabletDetail{
        display: flex;
        flex-direction: column;
        height: 10rem;
       margin: 0rem 0.5rem 0rem 0.5rem;
    }

    .iconTabletDetail .details-4{
        display: flex;
        flex-direction: row;
        border-bottom: none;
        justify-content: flex-start;
    }

    .iconTabletDetail .details-4 h1{
        border-bottom: none;
    }
     
    .iconTabletDetail .details-4 i{
        font-size: 3rem;
        color: var(--darkBlue);
        border: solid var(--greyLight);
        margin-right: 1rem;

    }
    /*box producto deails        */
    .boxProductDetails {
       height: 52rem;

    }
    #boxProductDetails{
        position: relative;
        height: fit-content;
    }

    #boxProductDetails .productDetails-2{
        height: fit-content;
    }
    #boxProductDetails .details-4{
        height: fit-content;
    }
    #boxProductDetails .details-4 .category{
        padding: 1.3rem;
    }
}   

@media (min-width: 760px){

}
