.body-product-cart {
    padding-top: 5.3rem;
}

.body-product-cart a {
    color: black;
}

/* Container cart */
.container-cart{
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    margin-top: 10rem;
    margin-top: 7rem;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 2rem auto;
}

.container-cart .section-title {
    position: absolute;
    top: .5rem;
    left: 1rem;
}

/* button */
.button__buy-cart {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


.button__buy-cart button:hover {
    background-color: #486297;
}


/* x for delete products of cart */
.fa-times {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2.5rem;
    color: rgb(255, 51, 51);
    font-weight: lighter;
    cursor: pointer;
    transition: color 0.2s ease-in;
    font-weight: 500;
}

.fa-times:hover {
    color: rgb(255, 149, 149);
}

    /* MEDIA QUERIES */

    /* Tablet */
/* buttons-finals */
@media (min-width: 480px) {
    .button__buy-cart {
        flex-direction: row;
        width: 90%;
        margin-bottom: 1.5rem;
        justify-content: space-around;
    }

    .button__buy-cart button:nth-child(1) {
        order: 2;
    }

    .container-increment,
    .price {
        justify-content: space-around;
    }

}


/* Desktop */
@media (min-width: 760px) {
    .card-cart{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    .image-container-ext{
        width: 18%;
        border: none;
        flex-grow: 1;
        border-right: .1rem solid var(--greyLight);
    }
    
    .cart-description-text{
        display: inline-block;
        width: 20%;
        margin: 0 !important;
        flex-grow: 1;
        padding-left: 1rem;
    }

    .container-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 4;
    }

    .button__buy-cart {
        flex-direction: row;
        width: 90%;
        margin-bottom: 1.5rem;
        justify-content: space-around;
    }


    .container-increment {
        flex-grow: 1.5;
    }

    .price {
        flex-grow: 0.5;
        align-items: center;
    }

    .price p:nth-child(1) {
        display: none;
    }

    .container-increment,
    .price {
        justify-content: space-evenly;
    }

    .button__buy-cart {
        justify-content: flex-end;
        gap: 4rem;
    }
}