
#slider {
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: space-evenly;
  padding: 0.5rem 2rem;
}

#subtitle {
  margin-top: 2rem;
}

#card {
  height: 32rem !important;
}

.home-products {
  min-height: 61rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-find-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-find-empty i {
  font-size: 15rem;
  color: rgb(250, 61, 61);
}

.container-find-empty p {
  font-size: 2rem;
  color: var(--darkBlue);
  font-family: var(--fontText);
  margin-top: 2rem;
}
