<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section class="btn-admin">
            <a href="/admin/editar">
                Editar productos
            </a>
            <a href="/admin/crear">
                Crear productos
            </a>
        </section>
    </main>
</body>
</html>