<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <header class="header__form header__admin">
        <a href="/" class="container__logo"><img class="logo__admin" src="images/logo.png" alt="logo-puertopc"></a>
        <a class="logo-text" href="/"></a>
    </header>
    <main>
        <section class="main__admin">
            <h2 class="welcome">Bienvenido Admin: <%=name%> </h2>
            <img class="foto__admin" src="images/naruto.jpeg" alt="">
            <h2 class="welcome">¿Qué quieres hacer hoy?</h2>
            <div class="button-box button__buy-cart">
                <a href="/admin/editar" class="button-buy">
                    Editar productos
                </a>
                <a href="/admin/crear" class="button-buy">
                    Crear productos
                </a>
            </div>    
        </section>
    </main>
</body>
</html>