<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header class="header-form">
        <a href="/"  class="logo" ><img src="images/logo.png" alt="logo-puertopc"></a>
        <a class="logo-text" href="/"></a>
    </header>
    <main>
        <section class="btn-admin">
            <a href="/admin/editar">
                Editar productos
            </a>
            <a href="/admin/crear">
                Crear productos
            </a>
        </section>
    </main>
</body>
</html>