<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 

<%-include('./partials/header.ejs')%>
    <main>
        <form action="" method="post">
            <div>
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <label for="category">categoría:</label>
                <input type="select" name="category" id="category">
            </div>
            <div>
                <label for="colors">Colores:</label>
                <input type="text" name="colors" id="colors">
            </div>
            <div>
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price">
            </div>
            <div>
                <label for="image">Seleccionar imagen:</label>
                <input type="file" name="image" id="image">
            </div>
        </form>
    </main>
<body>
    
</body>
</html>