<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 

<body class="body-product-cart">
    <%- include('./partials/header.ejs') %>
    
    <main class="container-cart">
        <h2 class="section-title">Mi carrito</h2>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles" class="image-container">
                        <img class="image-cart" src="images/NotebookASUS/Notebook_ASUS.jpg">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles"> Notebook ASUS x509 15.6 Celeron N4020 4GB 500GB Win10 </a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment">Cantidad:</label>
                        <input type="number" name="increment" id="increment" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$96.355</p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles" class="image-container">
                        <img class="image-cart" src="images/SillónSillaPremium/SillaPremium.webp">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles">Sillón Silla Premium Gamer Gaming Pro Reclinable Pc Oficina</a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment2">Cantidad:</label>
                        <input type="number" name="increment2" id="increment2" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$96.355</p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles" class="image-container">
                        <img class="image-cart" src="images/AppleMacbookAir/macBookAir.webp">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles"> Apple Macbook Air (13 pulgadas, 2020, Chip M1, 512 GB de SSD, 8 GB de RAM) - Plata </a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment3">Cantidad:</label>
                        <input type="number" name="increment3" id="increment3" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$96.355</p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
            <div class="container-total">
                <div class="total-price">
                    <span>Total: </span><span class="price-bruto">$353.055</span>
                </div>
            </div>
           
           
            <div class="button-box">
                <button class="button-buy">Finalizar compra</button>
                <button class="button-buy">cancelar compra</button>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>
